@import "~/styles/variables.scss";

$desktop: 800px;

@mixin mobile {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin content-center {
  margin: 0 auto;

  @media screen and (min-width: 800px) and (max-width: 1300px) {
    max-width: 760px;
    width: 760px;
  }

  @media screen and (min-width: 1300px) {
    max-width: 1100px;
    width: 1100px;
  }
}

$content-padding-gap: 20px;

@mixin content-padding {
  @include content-center;
  padding-left: $content-padding-gap;
  padding-right: $content-padding-gap;
}
