@import "~/styles/variables.scss";

$desktop: 1024px;

@mixin mobile {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 800px) and (max-width: $desktop - 1) {
    max-width: 760px;
    width: 760px;
  }

  @include desktop {
    max-width: 1000px;
    width: 1000px;
  }
}
