$grey-1: hsl(0, 0%, 95%) !default;
$grey-2: hsl(0, 0%, 85%) !default;
$grey-3: hsl(0, 0%, 75%) !default;
$grey-4: hsl(0, 0%, 65%) !default;
$grey-5: hsl(0, 0%, 55%) !default;
$grey-6: hsl(0, 0%, 45%) !default;
$grey-7: hsl(0, 0%, 35%) !default;
$grey-8: hsl(0, 0%, 25%) !default;
$grey-9: hsl(0, 0%, 15%) !default;
$grey-10: hsl(0, 0%, 5%) !default;

$purple: #834bb4 !default;
$yellow: #fcef39 !default;
$magenta: #ff4e95 !default;

$family-primary: "Poppins", "Open Sans", "Lucida Grande", sans-serif;
$family-secondary: "Open Sans", "Lucida Grande", sans-serif;
$family-mono: "Fira Mono", "Andale Mono", "Consolas", monospace;
$family-code: "Consolas", "Fira Mono", "Andale Mono", monospace;
