.page {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 2em;
    .search-term {
        color: #834bb4;
        font-weight: 600;
    }
}

.listing-top-bar {
    display: flex;
}

.listing {
    display: flex;
    flex-direction: column;
    .listing-item {
        padding: 12px 0;
        border-bottom: 1px solid #707070;
        &:first-of-type {
            border-top: 1px solid #707070;
        }

        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-template-rows: repeat(4, auto-fill);
        grid-template-areas:
            "title-row     downloads-counter"
            "description   downloads-counter"
            "tag-container downloads-counter"
            "bottom-row    downloads-counter";
        grid-gap: 5px;
        .listing-item__title-row {
            grid-area: title-row;

            display: flex;
            align-items: flex-end;
            *:not(:first-child) {
                margin-left: 5px;
            }
            .listing-item__title {
                font-size: 1.5em;
                font-weight: 600;
            }
            .listing-item__version {
                font-family: "Fira Mono";
                color: grey;
            }
        }
        .listing-item__description {
            grid-area: description;
            font-size: 1.1em;
        }
        .listing-item__tag-container {
            grid-area: tag-container;

            display: flex;
            flex-wrap: wrap;
            .listing-item__tag {
                background-color: #eee;
                border-radius: 4px;
                height: 16px;
                line-height: 14px;
                font-size: 1.1em;
                padding: 6px;
                &:not(:first-child) {
                    margin-left: 9px;
                }
            }
        }
        .listing-item__bottom-row {
            grid-area: bottom-row;

            display: flex;
            .listing-item__last-updated {
                grid-column: 1;
                grid-row: 4;
                font-family: "Fira Mono";
                font-size: 1.2em;
                color: grey;
            }
        }
        .listing-item__downloads-counter {
            grid-area: downloads-counter;
            color: grey;
            font-size: 1.3em;
            max-width: 130px;
            text-align: right;

            display: flex;
            flex-direction: column;
            b {
                font-size: 1.1em;
            }
            p {
                margin: 5px 0;
            }
        }
    }
}
