@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.navbar {
  @include content-center;

  display: grid;
  grid-gap: 0;

  @include mobile {
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 60px;
    grid-template-areas:
      "logo         menu"
      "search-bar   search-bar";
  }
  @include desktop {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "logo    menu   search-bar";
  }

  .navbar-logo {
    padding-left: $content-padding-gap;

    grid-area: logo;
    align-self: center;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }

  .navbar-menu {
    padding-right: $content-padding-gap;
    margin-left: 30px;

    grid-area: menu;
    @include mobile {
      justify-self: end;
    }
    @include desktop {
      justify-self: start;
    }

    display: flex;
    align-items: center;

    .navbar-menu-item {
      padding: 0.5rem;
      color: $grey-8;
    }
  }

  .search-bar {
    min-width: 200px;
    grid-area: search-bar;

    @include mobile {
      justify-self: stretch;
      background-color: $grey-1;
    }
    @include desktop {
      justify-self: end;
    }

    display: flex;
    align-items: center;

    .search-form {
      display: flex;
      width: 100%;
      height: 85%;

      @include mobile {
        @include content-padding;
      }

      @include desktop {
        max-height: 35px;
      }

      .input-container {
        display: flex;
        width: 100%;
      }

      .input-input {
        width: 100%;
        padding: 0 0.75em 0 2.4em;
        color: $grey-7;
        background-color: $grey-2;
        font-size: 1.1rem;

        &:focus {
          background-color: $grey-3;
        }

        &::placeholder {
          color: $grey-4;
        }
      }

      .input-icon {
        position: absolute;
        padding-left: 0.75em;
        align-self: center;
        color: $grey-3;
        font-weight: 900;

        @include mobile {
          font-size: 20px;
        }
        @include desktop {
          font-size: 18px;
        }

        &:focus {
          color: $grey-7;
        }
      }

      .input-input:focus + .input-icon {
        color: $grey-5;
      }

      .search-button {
        padding: 0.375em 0.75rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        background-color: $yellow;
        cursor: pointer;

        @include mobile {
          margin-left: 0.75rem;
        }

        &:active {
          background-color: darken($yellow, 15%);
        }
      }
    }
  }
}
