@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.footer {
  @include content-padding;

  padding-top: 70px;
  padding-bottom: 70px;

  .items {
    @include desktop {
      display: flex;
    }
  }

  @include mobile {
    *:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  .item {
    flex-grow: 1;

    h2 {
      margin-bottom: 18px;
      color: $magenta;
      font-size: 1rem;
      font-weight: 500;
    }

    a {
      margin-bottom: 10px;
      display: block;
      font-size: 0.9rem;
      color: $grey-8;
    }
  }
}
