@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.listing {
  @include content-center;

  display: flex;
  flex-direction: column;

  .listing-item {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 18px;

    &:not(:first-child) {
      padding-top: 14px;
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(4, auto-fill);
    grid-template-areas:
      "title-row     downloads-counter"
      "description   downloads-counter"
      "tag-container tag-container"
      "bottom-row    bottom-row";
    grid-gap: 8px;

    .title-row {
      grid-area: title-row;

      display: flex;
      align-items: baseline;

      *:not(:first-child) {
        margin-left: 25px;
      }

      .title {
        font-size: 1.3rem;
        font-weight: bold;
        font-family: $family-secondary;
        color: $grey-8;
      }

      .version {
        font-size: 1rem;
        font-family: $family-code;
        color: $grey-6;
      }
    }

    .description {
      grid-area: description;
      font-size: 1rem;
      font-family: $family-secondary;
      color: $grey-6;
    }

    .tag-container {
      grid-area: tag-container;

      margin-bottom: -5px;
      padding: 5px 0;
      display: flex;
      flex-wrap: wrap;

      .tag {
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 2px;
        line-height: 18px;
        font-size: 0.9rem;
        color: $grey-8;
        background-color: $grey-1;

        &:not(:last-child) {
          margin-right: 5px;
        }

        &:hover {
          text-decoration: underline;
        }

        &:active {
          background-color: $grey-2;
        }
      }
    }

    .bottom-row {
      grid-area: bottom-row;

      display: flex;
      align-items: baseline;
      justify-items: center;
      flex-wrap: wrap;
      margin-top: 5px;

      *:not(:last-child) {
        margin-right: 10px;
      }

      .avatar {
        align-self: center;
        width: 25px;
        height: 25px;
        border-radius: 2px;
      }

      .author {
        font-size: 1rem;
        font-weight: bold;
        font-family: $family-secondary;
        color: $grey-7;
      }

      .separator {
        font-size: 0.9rem;
        color: $grey-6;
      }

      .last-updated {
        font-size: 0.9rem;
        font-family: $family-code;
        color: $grey-6;
      }
    }

    .downloads-counter {
      grid-area: downloads-counter;
      justify-self: right;
      max-width: 130px;
      text-align: right;
      font-family: $family-secondary;

      display: flex;
      flex-direction: column;

      b {
        font-size: 1.125rem;
        font-weight: bold;
        color: $grey-6;
      }

      p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: $grey-6;
      }
    }
  }
}
