// overrides bulma
.container {
  padding-left: 20px;
  padding-right: 20px;
}

// overrides bulma
.input {
  font-family: $family-secondary;
  box-shadow: none;
  border: none;
  border-radius: 0;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.page-border-line {
  height: 10px;
  background-color: $primary;
}

.section {
  padding: 2rem 20px;

  .section-title {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
}
