.navbar {
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;

    .navbar-logo {
      padding-left: 0;
    }
  }

  @include mobile {
    .navbar-item {
      padding: 0.5rem;
    }
  }
}

.search {
  background-color: $grey-1;

  .search-form {
    height: 3.5rem;
    padding-top: 3px;
    padding-bottom: 3px;

    .control {
      height: 100%;
      flex-shrink: 1;
    }

    .search-input {
      .input {
        height: 100%;
        padding-left: 2.75em;
        padding-bottom: 0.4em;
        color: $grey-8;
        background-color: $grey-2;
        font-size: 1.25rem;

        &:focus {
          background-color: $grey-3;
        }
      }

      .icon {
        padding-bottom: 0.25em;
        color: #bcbccb;
        font-size: 1.5rem;
      }
    }

    .search-button {
      height: 100%;
      font-size: 1rem;
      font-weight: bold;
      color: black;
      border-color: transparent;
      background-color: $yellow;

      &:active {
        background-color: darken($yellow, 30%);
      }
    }
  }
}
