@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.page {
  @include container;
}

.header {
  font-size: 2em;
  .search-term {
    color: $purple;
    font-weight: 600;
  }
}

.listing-top-bar {
  display: flex;
}

.listing {
  display: flex;
  flex-direction: column;

  .listing-item {
    padding: 12px 0;
    border-bottom: 1px solid $grey-2;

    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(4, auto-fill);
    grid-template-areas:
      "title-row     downloads-counter"
      "description   downloads-counter"
      "tag-container downloads-counter"
      "bottom-row    downloads-counter";
    grid-gap: 5px;

    .listing-item__title-row {
      grid-area: title-row;

      display: flex;
      align-items: flex-end;

      *:not(:first-child) {
        margin-left: 5px;
      }

      .listing-item__title {
        font-size: 1.3rem;
        font-weight: bold;
        font-family: $family-secondary;
      }

      .listing-item__version {
        font-size: 1rem;
        font-family: $family-code;
        color: $grey-6;
      }
    }

    .listing-item__description {
      grid-area: description;
      font-size: 1rem;
      font-family: $family-secondary;
      color: $grey-6;
    }

    .listing-item__tag-container {
      grid-area: tag-container;

      display: flex;
      flex-wrap: wrap;

      .listing-item__tag {
        padding: 5px;
        border-radius: 2px;
        line-height: 14px;
        font-size: 0.9rem;
        color: $grey-8;
        background-color: $grey-1;

        &:not(:first-child) {
          margin-left: 8px;
        }

        &:hover {
          text-decoration: underline;
        }

        &:active {
          background-color: $grey-2;
        }
      }
    }

    .listing-item__bottom-row {
      grid-area: bottom-row;

      display: flex;

      .listing-item__last-updated {
        grid-column: 1;
        grid-row: 4;
        font-size: 0.9rem;
        font-family: $family-code;
        color: $grey-5;
      }
    }

    .listing-item__downloads-counter {
      grid-area: downloads-counter;
      justify-self: right;
      max-width: 130px;
      text-align: right;
      font-family: $family-secondary;

      display: flex;
      flex-direction: column;

      b {
        font-size: 1.125rem;
        font-weight: bold;
        color: $grey-6;
      }
      
      p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: $grey-5;
      }
    }
  }
}
