@import "~/styles/variables.scss";
@import "~/styles/layouts.scss";

.page {
  margin-top: 30px;
}

.header {
  @include content-padding;

  font-size: 1.5rem;
  .search-term {
    color: $purple;
    font-weight: 600;
  }

  .search-for {
    margin: 0.8em;
    font-size: 1.4rem;
  }

  .search-term {
    font-weight: 500;
  }
}

.listing-top-bar {
  @include content-padding;
  
  display: flex;
}
